<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/masterstyle.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>uPickEm</title>
<body ng-app="upickem">
<div id="home-controller" ng-controller="home" ng-click="resetError()">

    <nav class="nav">
        <a class="navbar-brand" href="home.html">uPickEm</a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="home.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="schedule.html">Schedule</a>
            </li>
        </ul>
    </nav>

    <div class="sidebar col-sm-3">
        <h2>My Leagues</h2>

        <div class="list-group">
            <a href="#"
               ng-repeat="league in userLeagues"
               ng-click="selectLeague(league)"
               class="list-group-item list-group-item-action"
               ng-class="{active: league.leagueId == selectedLeague.leagueId}">{{league.leagueName}}</a>
        </div>
        <button class="btn btn-primary" ng-click="showNewLeagueArea()">Create new league</button>
    </div>


    <div class="content">
        <div class="alert alert-success" ng-model="success" ng-show="success.display">{{success.message}}</div>
        <div class="alert alert-danger" ng-model="error" ng-show="error.display">{{error.message}}</div>

        <div ng-include="'new_league.html'"></div>
        <div ng-include="'selected_league.html'"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>

    <script src="js/main.js"></script>
    <script src="js/home.js"></script>
</div>
</body>
</html>