<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>uPickEm</title>
<body ng-app="upickem">
<div ng-controller="ctrl">

    <div class="container">

        <div class="text-center">
            <h2>Register</h1>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">

                <form>
                    <div class="form-group">
                        <label>First Name: </label>
                        <input class="form-control" ng-model="firstName" name="firstName" type="text"/>
                    </div>

                    <div class="form-group">
                        <label>Last Name: </label>
                        <input class="form-control" ng-model="lastName" name="lastName" type="text"/>
                    </div>

                    <div class="form-group">
                        <label>Username: </label>
                        <input class="form-control" ng-model="username" name="username" type="text"/>
                    </div>

                    <div class="form-group">
                        <label>Username: </label>
                        <input class="form-control" ng-model="email" name="email" type="email"/>
                    </div>

                    <div class="form-group">
                        <label>Password: </label>
                        <input class="form-control" ng-model="password" name="password" type="text"/>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-block" ng-click="register()">Submit</button>
                        <button class="btn btn-secondary btn-block" ng-click="goToLoginPage()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</div>
</body>
</html>