/*

 */

body {
    background-color: #f6f6f6;
}

table {
    background-color: transparent;
}

.new-league {
    margin-top: 5%;
}

.left-sidebar {
    align-items: center;
    z-index: 50;
    margin: 3% 6% 0 0;
    padding: 4%;
    border: 1px solid slategray;
    border-radius: 10%;
}

.left-sidebar h2 {
    margin-top: 0;
}

body {
    padding-top: 4%;
}

.content {
    margin: 3% 0 0 0;
    border-left: 1px solid slategray;
    padding-left: 5%;
    min-height: 100vh;
}

.nav {
    background-color: #303F9F;
    z-index: 100;
}

.navbar-brand {
    color: #8BC34A;
    font-size: x-large;
}

.navbar-brand:hover {
    color: white;
}

.nav-link {
    color: white;
}

.btn-primary {
    background-color: #8BC34A;
    border: #8BC34A;
}

.btn-primary:hover {
    background-color: #303F9F;
}

.btn-secondary {
    color: #212121;
}

.btn-secondary:hover {
    background-color: lightgray;
}

.jumbotron {
    color: #616161;
}

.league-title {
    padding-bottom: 2vh;
}

.display-messages {
    padding-top: 2%;
    font-size: 14pt;
}

.close-alert {
    float: right;
    font-size: 14pt;
    margin-right: -2%;
}

.close-alert:hover {
    cursor: pointer;
}

.selected-league-menu {
    border-top: 1px solid slategray;
    margin: 10% 0;
    padding-top: 10%;
}

