body {
    background-color: #ebeee9;
}

table {
    background-color: #88adca;
}

.new-league {
    margin-top: 5%;
}

.sidebar {
    height: 100vh;
    color: #303030;
    width: 25%;
    align-items: center;
    border-right: 2px solid;
    box-shadow: 3px 0px 10px grey;
    z-index: 50;
}

.nav {
    background-color: #00315f;
    z-index: 100;
}

.navbar-brand {
    color: yellow;
    font-size: x-large;
}

.navbar-brand:hover {
    color: white;
}

.nav-link {
    color: white;
}

.btn-primary {
    background-color: #607D8B;
}

.btn-secondary {
    color: #212121;
}

.btn-secondary:hover {
    background-color: lightgray;
}

.jumbotron {
    color: #616161;
}

.league-title {
    padding-bottom: 2vh;
}